* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: wheat;
  background-size: cover;
  overflow: hidden;
}
.main .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: contents;
}
.main .welcome h1 {
  text-align: center;
  color: burlywood;
  font-size: 5em;
}
.main .welcome h3 {
  text-align: center;
  color: black;
  font-size: 2em;
}
.main .welcome__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .welcome__container {
  display: block;
  margin-top: 3%;
  width: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  opacity: 0.95;
}
.main .welcome__level {
  margin: 20px 10px;
  width: 100px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.main .welcome__level:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.gameSection {
  margin-top: 5%;
  width: 406px;
  height: 480px;
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  overflow: hidden;
  opacity: 0.91;
  border-radius: 10px;
  display: none;
}
.gameSection__timer {
  margin: 10px;
  font-size: 20px;
}
.gameSection__score {
  color: azure;
  font-size: 2em;
  margin: 20px;
  text-align: center;
}
.gameSection__playGround {
  margin: auto;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

#gameSection__startButton,
#gameSection__resetButton,
#gameSection__mainButton {
  padding: 5px;
  border: 0.5px solid red;
  border-radius: 5px;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
  opacity: 0.8;
  cursor: pointer;
}
#gameSection__startButton:hover,
#gameSection__resetButton:hover,
#gameSection__mainButton:hover {
  opacity: 1;
}

.buttons {
  margin-top: 2%;
}

.gameSection > .buttons {
  display: none;
}

.gameSection__molehill {
  position: relative;
}

.gameSection__playGroundSection {
  background-image: url("./rsz_mole2.png");
  background-repeat: no-repeat;
  position: relative;
}

.mole {
  height: 70px;
}

.gameSection__playGroundSection .mole {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 38%;
  animation: rise 0.1s ease-out;
}

@keyframes rise {
  0% {
    transform: translateX(0px) translateY(25px);
  }
  2% {
    transform: translateX(-50%) translateY(25%);
  }
}
.gameoverSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(207, 96, 96, 0.952);
  font-size: 30px;
  color: #fbff00;
  font-family: Arial, Helvetica, sans-serif;
}
.gameoverSection__yourScore {
  padding-top: 1%;
}
.gameoverSection__score {
  font-size: 50px;
}
.gameoverSection__retry-button {
  margin-top: 25px;
  padding: 10px;
  color: goldenrod;
  background-color: #e7853e;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 410px) {
  .gameSection {
    margin-top: 2%;
    width: 360px;
    height: 480px;
  }
  .gameSection__playGround {
    margin: auto;
    height: 350px;
    width: 350px;
    gap: 1px;
  }
}