* {
    margin: 0;
    padding: 0;
}



.main {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
    width: 100vw;
    // text-align: center;
    background-image: url(./krecik.jpg);
    background-size: cover;
    overflow: hidden;






    .welcome {
        h1 {
            margin-top: 10%;
            color: orange;
            font-size: 6em;
        }

        h3 {
            color: black;
            font-size: 3em;
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &__level1,
        &__level2,
        &__level3 {
            margin: 20px 10px;
            width: 100px;
            padding: 10px;
            border: 2px solid red;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
            font-weight: bold;

            &:hover {
                background-color: lightgrey;
                cursor: pointer;

            }
        }
    }
}

.gameSection {
    margin-top: 5%;
    width: 406px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: green;
    overflow: hidden;
    opacity: 0.91;
    border-radius: 10px;



    &__score {
        color: azure;
        font-size: 2em;
        margin: 30px;
        text-align: center;

    }

    &__playGround {
        margin: auto;
        height: 400px;
        width: 400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;

        &__playGroundSection {}


    }

}

#gameSection__startButton,
#gameSection__resetButton {
    padding: 5px;
    border: 0.5px solid red;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    margin-bottom: 10px; // background-color: bisque;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.buttons {
    margin-top: 2%;
}


// // don work ??????whyhhhththth
// .gameSection__playGround:hover {
//     cursor: url("./mallet1.png");
// }

#malet {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('./cursor.cur');
    background-size: 100%, 100%;
    transform: translate(-50%, -50%);
    transition: 0.2ms;
    pointer-events: none;

}

.active {
    transform: rotate(-120deg);
}

.gameSection__molehill {
    position: relative;
}

// .mole {
//     position: absolute;
// }

.gameSection__playGroundSection {

    background-image: url("./rsz_mole2.png");
    background-repeat: no-repeat;
    position: relative;

}

.mole {
    height: 70px;

}

.gameSection__playGroundSection .mole {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    animation: rise .1s ease-out;

}

@keyframes rise {
    0% {
        transform: translateX(0px) translateY(25px);
    }

    2% {
        transform: translateX(-50%) translateY(25%);
    }
}